[data-theme=light] {
    --_0-zat5: var(--color-cold-gray-300);
    --_1-zat5: var(--color-white);
    --_2-zat5: var(--color-cold-gray-650)
}

[data-theme=dark] {
    --_0-zat5: var(--color-cold-gray-450);
    --_1-zat5: var(--color-cold-gray-200);
    --_2-zat5: var(--color-cold-gray-700)
}

.tooltip-I0otK5Ne {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.label-I0otK5Ne {
    color: var(--_0-zat5);
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    white-space: pre
}

.currency-I0otK5Ne {
    font-size: 9px;
    font-weight: 400;
    line-height: 14px;
    margin-left: 2px
}

.divider-I0otK5Ne {
    --ui-lib-divider-color: var(--_2-zat5)
}

.group-I0otK5Ne {
    display: flex;
    flex-direction: column
}

.groupRow-I0otK5Ne {
    display: flex;
    gap: 8px;
    justify-content: space-between
}

.groupRowTitleContainer-I0otK5Ne {
    align-items: center;
    display: flex;
    gap: 2px
}

.groupRowDot-I0otK5Ne {
    background-color: var(--tooltip-dot-color);
    border-radius: 50%;
    height: 8px;
    margin: 2px;
    width: 8px
}

.groupRowLabel-I0otK5Ne {
    white-space: pre
}

.groupRowLabel-I0otK5Ne,.groupRowPrice-I0otK5Ne {
    color: var(--_1-zat5);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px
}

.underlyingPriceValue-I0otK5Ne {
    color: var(--_1-zat5);
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    text-align: center
}

.probabilitiesContainer-I0otK5Ne {
    align-items: center;
    display: flex;
    flex-direction: column
}

.probabilitiesArrowsContainer-I0otK5Ne {
    align-items: center;
    direction: ltr;
    display: flex;
    gap: 4px;
    margin: 0 auto
}

.probability-I0otK5Ne {
    color: var(--_1-zat5);
    font-size: 11px;
    font-weight: 700;
    line-height: 16px
}

.probabilitiesDot-I0otK5Ne {
    background-color: var(--_0-zat5);
    border-radius: 50%;
    height: 3px;
    margin: 0 4px;
    width: 3px
}

.arrowIcon-I0otK5Ne {
    color: var(--_1-zat5);
    display: block;
    height: 18px;
    width: 18px
}

.arrowIconRight-I0otK5Ne {
    transform: rotate(180deg)
}
