.card-author-wrap-BhFUdJAZ {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: -4px -4px 0
}

.card-author-wrap-BhFUdJAZ .badge-BhFUdJAZ {
    font-style: normal;
    margin: 4px 4px 0
}

.card-author-link-BhFUdJAZ {
    display: grid;
    margin: 4px 4px 0;
    outline: none;
    overflow: visible;
    position: relative
}

.card-author-link-BhFUdJAZ:focus {
    outline: none
}

.card-author-link-BhFUdJAZ:focus-visible {
    outline: none
}

.card-author-link-BhFUdJAZ:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 8px);
    left: -4px;
    pointer-events: none;
    position: absolute;
    top: -4px;
    width: calc(100% + 8px);
    z-index: 1
}

.card-author-link-BhFUdJAZ:focus:after {
    display: block
}

.card-author-link-BhFUdJAZ:focus-visible:after {
    display: block
}

.card-author-link-BhFUdJAZ:focus:not(:focus-visible):after {
    display: none
}

.card-author-link-BhFUdJAZ:after {
    border-color: var(--color-focus-outline-color-blue);
    border-radius: 4px
}

.card-author-BhFUdJAZ {
    display: inline-block;
    flex-grow: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.card-author-BhFUdJAZ,.card-author-BhFUdJAZ:visited {
    color: var(--color-text-primary);
    fill: var(--color-text-primary)
}

@media (any-hover: hover) {
    .card-author-BhFUdJAZ:hover {
        color:var(--color-link-primary-hover);
        fill: var(--color-link-primary-hover)
    }
}

.card-author-BhFUdJAZ:active {
    color: var(--color-link-primary-active);
    fill: var(--color-link-primary-active)
}

.card-author-BhFUdJAZ:focus {
    outline: auto;
    outline-offset: 2px
}

.card-author-BhFUdJAZ:focus-visible {
    outline: auto;
    outline-offset: 2px
}

.card-author-BhFUdJAZ:focus:not(:focus-visible) {
    outline: none
}

.card-author-BhFUdJAZ.typography-social-BhFUdJAZ {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    --ui-lib-typography-font-size: 14px;
    --ui-lib-typography-line-height: 18px
}

.card-author-BhFUdJAZ.typography-platform-BhFUdJAZ,.card-author-BhFUdJAZ.typography-social-BhFUdJAZ {
    font-size: var(--ui-lib-typography-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--ui-lib-typography-line-height)
}

.card-author-BhFUdJAZ.typography-platform-BhFUdJAZ {
    --ui-lib-typography-line-height: 19px;
    --ui-lib-typography-font-size: 13px
}

.idea-strategy-icon-wrap-cbI7LT3N {
    display: inline-flex
}

.idea-strategy-icon-wrap-cbI7LT3N.size-small-cbI7LT3N,.idea-strategy-icon-wrap-cbI7LT3N.size-small-cbI7LT3N .idea-strategy-icon-cbI7LT3N {
    height: 20px;
    width: 20px
}

.idea-strategy-icon-wrap-cbI7LT3N.size-medium-cbI7LT3N,.idea-strategy-icon-wrap-cbI7LT3N.size-medium-cbI7LT3N .idea-strategy-icon-cbI7LT3N {
    height: 24px;
    width: 24px
}

.idea-strategy-icon-cbI7LT3N {
    align-items: center;
    border-radius: 50%;
    color: var(--color-white);
    display: inline-flex;
    justify-content: center
}

.strategy-long-cbI7LT3N {
    background-color: var(--color-minty-green-400)
}

.strategy-short-cbI7LT3N {
    background-color: var(--color-ripe-red-400)
}

.strategy-education-cbI7LT3N {
    background-color: var(--color-brand)
}

.visually-hidden-label-cbI7LT3N {
    border: 0;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden
}

.script-icon-wrap-HwUEiHJ3 {
    --script-icon-default-color-bg: var(--color-default-gray);
    --script-icon-default-color: var(--color-white);
    display: inline-flex
}

.script-icon-wrap-HwUEiHJ3.size-small-HwUEiHJ3 {
    height: 20px;
    width: 20px
}

.script-icon-wrap-HwUEiHJ3.size-small-HwUEiHJ3 .script-icon-HwUEiHJ3 {
    background-color: var(--script-icon-color-bg,var(--script-icon-default-color-bg));
    border-radius: 4px;
    color: var(--script-icon-color,var(--script-icon-default-color));
    display: inline-flex;
    height: 18px;
    width: 18px
}

.script-icon-wrap-HwUEiHJ3.size-medium-HwUEiHJ3 {
    height: 28px;
    width: 28px
}

.script-icon-wrap-HwUEiHJ3.size-medium-HwUEiHJ3 .script-icon-HwUEiHJ3 {
    background-color: var(--script-icon-color-bg,var(--script-icon-default-color-bg));
    border-radius: 4px;
    color: var(--script-icon-color,var(--script-icon-default-color));
    display: inline-flex;
    height: 28px;
    width: 28px
}

.visually-hidden-label-HwUEiHJ3 {
    border: 0;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    clip: rect(0 0 0 0);
    overflow: hidden
}

[data-theme=dark],[data-theme=light] {
    --_0-QsjW: var(--color-black);
    --_1-QsjW: var(--color-cold-gray-800);
    --_2-QsjW: var(--color-tv-blue-500)
}

.play-button-wO0kC0NR {
    align-items: center;
    border: none;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    max-width: 100%;
    padding: 0;
    position: relative
}

.play-button-wO0kC0NR .icon-wO0kC0NR {
    display: inline-flex;
    flex-shrink: 0
}

.color-black-wO0kC0NR {
    background: var(--_0-QsjW)
}

.color-gray-wO0kC0NR {
    background: var(--_1-QsjW)
}

@media (any-hover: hover) {
    .color-gray-wO0kC0NR:hover {
        background:var(--color-tv-blue-500)
    }
}

.color-brand-wO0kC0NR {
    background: var(--_2-QsjW)
}

.size-medium-wO0kC0NR {
    border-radius: 50%;
    height: 48px;
    outline: none;
    overflow: visible;
    position: relative;
    width: 48px
}

.size-medium-wO0kC0NR:focus {
    outline: none
}

.size-medium-wO0kC0NR:focus-visible {
    outline: none
}

.size-medium-wO0kC0NR:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 8px);
    left: -4px;
    pointer-events: none;
    position: absolute;
    top: -4px;
    width: calc(100% + 8px);
    z-index: 1
}

.size-medium-wO0kC0NR:focus:after {
    display: block
}

.size-medium-wO0kC0NR:focus-visible:after {
    display: block
}

.size-medium-wO0kC0NR:focus:not(:focus-visible):after {
    display: none
}

.size-medium-wO0kC0NR:after {
    border-color: var(--color-focus-outline-color-blue);
    border-radius: calc(50% + 2px)
}

.size-xlarge-wO0kC0NR {
    border-radius: 50%;
    height: 64px;
    outline: none;
    overflow: visible;
    position: relative;
    width: 64px
}

.size-xlarge-wO0kC0NR:focus {
    outline: none
}

.size-xlarge-wO0kC0NR:focus-visible {
    outline: none
}

.size-xlarge-wO0kC0NR:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 8px);
    left: -4px;
    pointer-events: none;
    position: absolute;
    top: -4px;
    width: calc(100% + 8px);
    z-index: 1
}

.size-xlarge-wO0kC0NR:focus:after {
    display: block
}

.size-xlarge-wO0kC0NR:focus-visible:after {
    display: block
}

.size-xlarge-wO0kC0NR:focus:not(:focus-visible):after {
    display: none
}

.size-xlarge-wO0kC0NR:after {
    border-color: var(--color-focus-outline-color-blue);
    border-radius: calc(50% + 2px)
}

.size-xxlarge-wO0kC0NR {
    border-radius: 50%;
    height: 72px;
    outline: none;
    overflow: visible;
    position: relative;
    width: 72px
}

.size-xxlarge-wO0kC0NR:focus {
    outline: none
}

.size-xxlarge-wO0kC0NR:focus-visible {
    outline: none
}

.size-xxlarge-wO0kC0NR:after {
    border-style: solid;
    border-width: 2px;
    box-sizing: border-box;
    content: "";
    display: none;
    height: calc(100% + 8px);
    left: -4px;
    pointer-events: none;
    position: absolute;
    top: -4px;
    width: calc(100% + 8px);
    z-index: 1
}

.size-xxlarge-wO0kC0NR:focus:after {
    display: block
}

.size-xxlarge-wO0kC0NR:focus-visible:after {
    display: block
}

.size-xxlarge-wO0kC0NR:focus:not(:focus-visible):after {
    display: none
}

.size-xxlarge-wO0kC0NR:after {
    border-color: var(--color-focus-outline-color-blue);
    border-radius: calc(50% + 2px)
}
