.statusWrapper-d1N3lNBX {
    align-items: center;
    column-gap: 8px;
    display: flex;
    flex-wrap: wrap
}

.lastTime-d1N3lNBX {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    font-style: normal;
    --ui-lib-typography-font-size: 13px;
    font-size: var(--ui-lib-typography-font-size);
    font-weight: 400;
    --ui-lib-typography-line-height: 18px;
    color: var(--color-content-primary-neutral-normal);
    line-height: var(--ui-lib-typography-line-height)
}

.lastPrice-d1N3lNBX {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px
}

.lastPrice-d1N3lNBX.plus-d1N3lNBX .change-d1N3lNBX,.lastPrice-d1N3lNBX.plus-d1N3lNBX .changePercent-d1N3lNBX {
    color: var(--color-symbol-change-positive)
}

.lastPrice-d1N3lNBX.minus-d1N3lNBX .change-d1N3lNBX,.lastPrice-d1N3lNBX.minus-d1N3lNBX .changePercent-d1N3lNBX {
    color: var(--color-symbol-change-negative)
}

.price-d1N3lNBX {
    margin-right: 8px;
    --ui-lib-typography-font-size: 20px;
    --ui-lib-typography-line-height: 24px;
    color: var(--color-content-primary-neutral-bold);
    overflow: hidden
}

.changeWrap-d1N3lNBX,.price-d1N3lNBX {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    font-size: var(--ui-lib-typography-font-size);
    font-style: normal;
    font-weight: 600;
    line-height: var(--ui-lib-typography-line-height)
}

.changeWrap-d1N3lNBX {
    direction: ltr;
    display: inline-flex;
    --ui-lib-typography-font-size: 16px;
    --ui-lib-typography-line-height: 24px;
    unicode-bidi: bidi-override
}

.extra-d1N3lNBX {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    font-style: normal;
    --ui-lib-typography-font-size: 13px;
    font-size: var(--ui-lib-typography-font-size);
    font-weight: 400;
    --ui-lib-typography-line-height: 18px;
    line-height: var(--ui-lib-typography-line-height)
}

.icon-d1N3lNBX {
    height: 18px;
    width: 18px
}

.neutral-d1N3lNBX {
    color: var(--color-content-primary-neutral)
}

.blue-d1N3lNBX {
    color: var(--color-content-primary-accent)
}

.yellow-d1N3lNBX {
    color: var(--color-content-primary-warning-semi-bold)
}

.green-d1N3lNBX {
    color: var(--color-content-primary-success)
}

.changePercent-d1N3lNBX {
    margin-left: 8px
}

.currency-d1N3lNBX {
    --ui-lib-typography-font-size: 12px;
    --ui-lib-typography-line-height: 16px;
    margin-left: 4px
}

.currency-d1N3lNBX,.status-d1N3lNBX {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    font-size: var(--ui-lib-typography-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--ui-lib-typography-line-height)
}

.status-d1N3lNBX {
    align-items: center;
    display: inline-flex;
    --ui-lib-typography-font-size: 13px;
    --ui-lib-typography-line-height: 18px
}

.link-eFCYpbUa {
    color: inherit;
    direction: ltr
}

@media (any-hover: hover) {
    .link-eFCYpbUa:hover,.link-eFCYpbUa:hover .icon-eFCYpbUa {
        color:var(--color-tv-blue-600)
    }
}

.text-eFCYpbUa {
    margin-right: 2px;
    overflow: hidden;
    text-overflow: ellipsis
}

.icon-eFCYpbUa {
    color: var(--color-default-gray);
    display: inline-block;
    height: 18px;
    margin-bottom: 2px;
    vertical-align: bottom;
    width: 18px
}

[data-theme=light] {
    --_0-hBy8: var(--color-cold-gray-900);
    --_1-hBy8: var(--color-cold-gray-400)
}

[data-theme=dark] {
    --_0-hBy8: var(--color-cold-gray-200);
    --_1-hBy8: var(--color-cold-gray-450)
}

.additional-lu2ARROZ,.invalid-lu2ARROZ {
    display: inline-block;
    font-size: 12px;
    line-height: 17px;
    padding: 2px 0
}

.dotWrap-lu2ARROZ {
    display: inline-block;
    height: 5px;
    margin: 0 6px
}

.dotWrap-lu2ARROZ.smallMargin-lu2ARROZ {
    margin-left: 3px
}

.dotWrap-lu2ARROZ .dot-lu2ARROZ {
    background-color: var(--_1-hBy8);
    border-radius: 50%;
    height: 3px;
    width: 3px
}

.main-lu2ARROZ {
    color: var(--_0-hBy8);
    display: inline-block;
    font-size: 12px;
    line-height: 22px
}

.additional-lu2ARROZ {
    color: var(--_1-hBy8)
}

.invalid-lu2ARROZ {
    color: var(--color-ripe-red-400)
}

.link-lu2ARROZ {
    color: inherit
}

@media (any-hover: hover) {
    .link-lu2ARROZ:hover {
        color:var(--color-tv-blue-600)
    }
}

.container-bxBC50sK {
    display: flex;
    flex-wrap: wrap
}

.ask-bxBC50sK,.bid-bxBC50sK {
    align-items: center;
    border-radius: 16px;
    box-sizing: border-box;
    display: flex;
    font-size: 12px;
    height: 18px;
    justify-content: center;
    line-height: 14px;
    margin-top: 2px;
    padding: 2px 8px
}

.ask-bxBC50sK {
    background: var(--color-overlay-negative-1-light);
    color: var(--color-ripe-red-500)
}

.bid-bxBC50sK {
    background: var(--color-overlay-accent-1-light);
    color: var(--color-tv-blue-500);
    margin-right: 8px
}

[data-theme=light] {
    --_0-eoVi: var(--color-cold-gray-900);
    --_1-eoVi: var(--color-cold-gray-100)
}

[data-theme=dark] {
    --_0-eoVi: var(--color-cold-gray-200);
    --_1-eoVi: var(--color-cold-gray-800)
}

.container-cff_aFgr {
    margin-bottom: 8px;
    min-height: 39px
}

.header-cff_aFgr {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.header-cff_aFgr .title-cff_aFgr {
    color: var(--color-cold-gray-400);
    font-size: 11px;
    letter-spacing: .4px;
    line-height: 16px;
    padding: 0 2px;
    text-align: center;
    text-transform: uppercase
}

.header-cff_aFgr .price-cff_aFgr {
    color: var(--_0-eoVi);
    font-size: 13px;
    line-height: 19px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.range-cff_aFgr {
    background-color: var(--_1-eoVi);
    border-radius: 12px;
    flex-shrink: 0;
    height: 6px;
    margin: 4px 0 2px;
    width: 100%
}

.range-cff_aFgr .bar-cff_aFgr {
    background-color: var(--color-minty-green-a600);
    border-color: var(--color-bg-primary);
    border-style: solid;
    border-width: 0 2px;
    height: inherit;
    position: relative;
    width: 20px
}

.range-cff_aFgr .bar-cff_aFgr.low-cff_aFgr {
    background-color: var(--color-ripe-red-500)
}

.range-cff_aFgr .bar-cff_aFgr.roundedLeft-cff_aFgr {
    border-bottom-left-radius: 12px;
    border-left: none;
    border-top-left-radius: 12px
}

.range-cff_aFgr .bar-cff_aFgr.roundedRight-cff_aFgr {
    border-bottom-right-radius: 12px;
    border-right: none;
    border-top-right-radius: 12px
}

.arrowContainer-cff_aFgr {
    height: 8px;
    position: relative
}

.arrowContainer-cff_aFgr .arrow-cff_aFgr {
    display: flex;
    margin-left: -4px;
    position: absolute
}

.arrowContainer-cff_aFgr .arrow-cff_aFgr.extraMargin-cff_aFgr {
    margin-left: -6px
}

.content-UFowdVNz {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.content-UFowdVNz.small-UFowdVNz {
    gap: 4px
}

.block-UFowdVNz {
    display: flex;
    justify-content: space-between
}

.title-UFowdVNz {
    --ui-lib-typography-font-size: 14px;
    --ui-lib-typography-line-height: 18px;
    color: var(--color-content-primary-neutral);
    white-space: nowrap
}

.title-UFowdVNz,.title-UFowdVNz.small-UFowdVNz {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    font-size: var(--ui-lib-typography-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--ui-lib-typography-line-height)
}

.title-UFowdVNz.small-UFowdVNz {
    --ui-lib-typography-font-size: 12px;
    --ui-lib-typography-line-height: 16px
}

.value-UFowdVNz {
    --ui-lib-typography-font-size: 14px;
    --ui-lib-typography-line-height: 18px;
    color: var(--color-content-primary-neutral-bold);
    white-space: nowrap
}

.value-UFowdVNz,.value-UFowdVNz.small-UFowdVNz {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    font-size: var(--ui-lib-typography-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--ui-lib-typography-line-height)
}

.value-UFowdVNz.small-UFowdVNz {
    --ui-lib-typography-font-size: 12px;
    --ui-lib-typography-line-height: 16px
}

.range-UFowdVNz {
    background: var(--color-content-primary-neutral-extra-light);
    border-radius: 20px;
    height: 12px;
    overflow: hidden;
    position: relative
}

.range-UFowdVNz.small-UFowdVNz {
    border-radius: 3px;
    height: 6px
}

.rangeItem-UFowdVNz {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    transition: transform .3s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .rangeItem-UFowdVNz {
        transition: none
    }
}

.rangeItem-UFowdVNz.left-UFowdVNz {
    background: var(--color-content-primary-accent);
    transform: translateX(-100%)
}

.rangeItem-UFowdVNz.left-UFowdVNz:before {
    right: -1px
}

.rangeItem-UFowdVNz.right-UFowdVNz {
    background: var(--color-content-primary-danger);
    transform: translateX(100%)
}

.rangeItem-UFowdVNz.right-UFowdVNz:before {
    left: -1px
}

.rangeItem-UFowdVNz.withSeparator-UFowdVNz:before {
    background: var(--color-background-primary);
    content: "";
    height: 100%;
    position: absolute;
    width: 2px
}

.hide-UFowdVNz .rangeItem-UFowdVNz,.hide-UFowdVNz .value-UFowdVNz {
    visibility: hidden
}

[data-theme=light] {
    --_0-uQDJ: var(--color-cold-gray-900)
}

[data-theme=dark] {
    --_0-uQDJ: var(--color-cold-gray-200)
}

.button-n8Qy6nMt,.button-n8Qy6nMt.hover-n8Qy6nMt,.button-n8Qy6nMt:active {
    color: var(--_0-uQDJ)
}

@media (any-hover: hover) {
    .button-n8Qy6nMt:hover {
        color:var(--_0-uQDJ)
    }
}

.button-n8Qy6nMt.hover-n8Qy6nMt:before,.button-n8Qy6nMt:active:before {
    border-radius: 4px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0
}

@media (any-hover: hover) {
    .button-n8Qy6nMt:hover:before {
        border-radius:4px;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0
    }
}

.button-n8Qy6nMt.isOpened-n8Qy6nMt.hover-n8Qy6nMt:before,.button-n8Qy6nMt.isOpened-n8Qy6nMt:active:before,.button-n8Qy6nMt.isOpened-n8Qy6nMt:before {
    border-radius: 4px
}

@media (any-hover: hover) {
    .button-n8Qy6nMt.isOpened-n8Qy6nMt:hover:before {
        border-radius:4px
    }
}

.inner-n8Qy6nMt {
    font-size: 13px;
    font-weight: 600;
    height: 17px;
    line-height: 17px;
    overflow: hidden;
    padding: 4px 0 4px 4px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.selector-DCTvupa6 {
    height: 28px;
    margin-bottom: 3px;
    margin-left: -4px;
    width: min-content
}

.currency-DCTvupa6 {
    --ui-lib-typography-line-height: 16px;
    --ui-lib-typography-font-size: 11px;
    letter-spacing: .4px;
    margin-left: 2px;
    text-transform: uppercase
}

.barTitle-DCTvupa6,.currency-DCTvupa6 {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    font-size: var(--ui-lib-typography-font-size);
    font-style: normal;
    font-weight: 400;
    line-height: var(--ui-lib-typography-line-height)
}

.barTitle-DCTvupa6 {
    --ui-lib-typography-font-size: 13px;
    --ui-lib-typography-line-height: 18px;
    margin-bottom: 4px
}

.barWrap-DCTvupa6:not(:last-child) {
    margin-bottom: 12px
}

[data-theme=light] {
    --_0-DQxj: var(--color-cold-gray-900);
    --_1-DQxj: var(--color-cold-gray-100);
    --_2-DQxj: var(--color-cold-gray-150)
}

[data-theme=dark] {
    --_0-DQxj: var(--color-cold-gray-200);
    --_1-DQxj: var(--color-cold-gray-800);
    --_2-DQxj: var(--color-cold-gray-750)
}

.buttonContainer-vll9ujXF {
    display: flex;
    justify-content: center
}

.buttonContainer-vll9ujXF .button-vll9ujXF {
    align-items: center;
    background-color: var(--_1-DQxj);
    border: none;
    border-radius: 10px;
    color: var(--_0-DQxj);
    display: flex;
    font-size: 12px;
    justify-content: center;
    line-height: 17px;
    padding: 2px 12px;
    text-align: center
}

@media (any-hover: hover) {
    .buttonContainer-vll9ujXF .button-vll9ujXF:hover {
        background-color:var(--_2-DQxj)
    }
}

.title-Iekpbvhj {
    align-items: baseline;
    display: flex;
    justify-content: space-between
}

.currency-Iekpbvhj {
    color: var(--color-default-gray);
    font-size: 13px;
    font-weight: 500;
    line-height: 17px
}

.items-KSzJG6_A {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px
}

.button-KSzJG6_A {
    height: 21px;
    width: 42px
}

.danger-KSzJG6_A {
    color: var(--color-container-fill-primary-danger)
}

.capitalizeFirst-KSzJG6_A:first-letter {
    text-transform: capitalize
}

[data-theme=light] {
    --_0-1eG1: var(--color-cold-gray-100);
    --_1-1eG1: var(--color-cold-gray-150)
}

[data-theme=dark] {
    --_0-1eG1: var(--color-cold-gray-800);
    --_1-1eG1: var(--color-cold-gray-750)
}

.block-qCxPFWk9 {
    align-items: center;
    background-color: var(--_0-1eG1);
    border-radius: 8px;
    color: var(--color-text-primary);
    cursor: default;
    display: flex;
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    padding: 4px 6px
}

@media (any-hover: hover) {
    .block-qCxPFWk9:hover {
        background-color:var(--_1-1eG1)
    }
}

.startIcon-qCxPFWk9 {
    align-items: center;
    display: flex;
    height: 18px;
    margin-right: 4px
}

.endIcon-qCxPFWk9 {
    height: 18px;
    margin-left: auto
}

.wrap-GRM65f3q {
    align-items: center;
    word-break: break-word
}

.text-GRM65f3q {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 16px;
    max-height: 32px
}

.addNoteText-GRM65f3q {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

[data-theme=light] {
    --_0-0r54: var(--color-cold-gray-900);
    --_1-0r54: var(--color-minty-green-500);
    --_2-0r54: var(--color-ripe-red-500);
    --_3-0r54: var(--color-cold-gray-550);
    --_4-0r54: var(--color-cold-gray-100)
}

[data-theme=dark] {
    --_0-0r54: var(--color-cold-gray-200);
    --_1-0r54: var(--color-minty-green-500);
    --_2-0r54: var(--color-ripe-red-500);
    --_3-0r54: var(--color-cold-gray-450);
    --_4-0r54: var(--color-cold-gray-800)
}

.container-mmdAGdPV {
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 8px;
    margin-right: 8px;
    padding-top: 4px;
    width: calc(33.33333% - 5.33333px)
}

.container-mmdAGdPV:nth-child(3n+3) {
    margin-right: 0
}

.container-mmdAGdPV:nth-child(n+4) {
    margin-bottom: 0
}

.percentage-mmdAGdPV {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    --ui-lib-typography-line-height: 18px;
    line-height: var(--ui-lib-typography-line-height);
    --ui-lib-typography-font-size: 13px;
    font-size: var(--ui-lib-typography-font-size);
    font-style: normal;
    font-variant-numeric: lining-nums tabular-nums;
    font-weight: 600
}

.percentageNegative-mmdAGdPV {
    color: var(--_2-0r54)
}

.percentagePositive-mmdAGdPV {
    color: var(--_1-0r54)
}

.percentageNone-mmdAGdPV {
    color: var(--_3-0r54)
}

.period-mmdAGdPV {
    color: var(--_0-0r54);
    font-size: 11px;
    letter-spacing: .4px;
    line-height: 16px;
    padding-bottom: 2px;
    text-transform: uppercase
}

.negativeLow-mmdAGdPV {
    background: rgb(from var(--color-ripe-red-400) r g b/.1)
}

.negativeMedium-mmdAGdPV {
    background: rgb(from var(--color-ripe-red-400) r g b/.2)
}

.negativeHigh-mmdAGdPV {
    background: rgb(from var(--color-ripe-red-400) r g b/.3)
}

.positiveLow-mmdAGdPV {
    background: rgb(from var(--color-minty-green-400) r g b/.1)
}

.positiveMedium-mmdAGdPV {
    background: rgb(from var(--color-minty-green-400) r g b/.2)
}

.positiveHigh-mmdAGdPV {
    background: rgb(from var(--color-minty-green-400) r g b/.3)
}

@supports not (background: rgb(from #000 r g b)) {
    .negativeLow-mmdAGdPV {
        background:#f7525f03
    }

    .negativeMedium-mmdAGdPV {
        background: #f7525f33
    }

    .negativeHigh-mmdAGdPV {
        background: #f7525f4d
    }

    .positiveLow-mmdAGdPV {
        background: #22ab9403
    }

    .positiveMedium-mmdAGdPV {
        background: #22ab9433
    }

    .positiveHigh-mmdAGdPV {
        background: #22ab944d
    }
}

.none-mmdAGdPV {
    background: var(--_4-0r54)
}

.smallSize-mmdAGdPV {
    font-size: 12px;
    line-height: 18px
}

.select-IvFOp3pr {
    display: flex;
    flex-wrap: wrap;
    margin: 4px 0
}

.title-IvFOp3pr {
    color: var(--color-text-primary);
    display: flex;
    font-size: 12px;
    font-weight: 400;
    height: 17px;
    line-height: 17px;
    margin-right: 16px
}

.title-IvFOp3pr:last-child {
    margin-right: 0
}

.title-IvFOp3pr.active-IvFOp3pr {
    border-bottom: 1px solid;
    border-bottom-color: var(--color-brand);
    color: var(--color-brand)
}

.title-IvFOp3pr.disabled-IvFOp3pr {
    color: var(--color-text-disabled);
    pointer-events: none
}

.cards-bpwvgHTt {
    display: flex;
    flex-wrap: wrap
}

.header-bpwvgHTt {
    display: flex;
    justify-content: space-between
}

.select-bpwvgHTt {
    margin: 0 0 6px
}

.container-iriqJXBQ {
    margin-top: -3px
}

.headerWrapper-iriqJXBQ {
    margin-bottom: 5px
}

.header-iriqJXBQ {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.setSelectWrap-iriqJXBQ {
    display: flex;
    flex-shrink: 0;
    margin-left: -4px;
    margin-top: -3px
}

.periodSelect-iriqJXBQ {
    display: flex;
    flex-wrap: wrap;
    margin: 4px 0
}

.periodTitle-iriqJXBQ {
    color: var(--color-text-primary);
    display: flex;
    font-size: 12px;
    font-weight: 400;
    height: 17px;
    line-height: 17px;
    margin-right: 16px
}

.periodTitle-iriqJXBQ:last-child {
    margin-right: 0
}

.periodTitle-iriqJXBQ.active-iriqJXBQ {
    border-bottom: 1px solid;
    border-bottom-color: var(--color-brand);
    color: var(--color-brand)
}

.periodTitle-iriqJXBQ.disabled-iriqJXBQ {
    color: var(--color-text-disabled);
    pointer-events: none
}

.container-ewZNO7GW {
    position: relative
}

.chart-ewZNO7GW {
    overflow: hidden
}

.tooltipWrap-ewZNO7GW {
    left: -50%;
    pointer-events: none;
    position: relative;
    width: max-content
}

.wrap-JGBHBYdt {
    padding: 0 16px
}

.pieWrap-JGBHBYdt {
    height: 120px;
    margin: 0 auto 12px;
    width: 120px;
    --tv-pie-chart-arc-inner-text-color: #0000
}

.legendItem-JGBHBYdt {
    align-items: baseline;
    display: flex;
    flex-direction: row
}

.swatch-JGBHBYdt {
    background-color: var(--legend-item-rectangle-color);
    margin-right: 8px
}

.swatch-JGBHBYdt.stocks-JGBHBYdt {
    background-color: var(--color-tan-orange-a400)
}

.swatch-JGBHBYdt.other-JGBHBYdt {
    background-color: var(--color-deep-blue-a200)
}

.legendText-JGBHBYdt {
    flex: 1 1 auto
}

.legendData-JGBHBYdt {
    direction: ltr
}

.wrap-_BrHu1HM {
    padding: 0 16px
}

.container-UX_MhgFR {
    overflow: hidden
}

.menuHeader-QwKUkszc {
    align-items: center;
    display: flex;
    height: 20px
}

.title-QwKUkszc {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    --ui-lib-typography-line-height: 16px;
    line-height: var(--ui-lib-typography-line-height);
    --ui-lib-typography-font-size: 12px;
    font-size: var(--ui-lib-typography-font-size);
    font-style: normal;
    font-weight: 600
}

.menuButton-QwKUkszc {
    --tv-toolbar-opened-element-hover-border-radius: 6px;
    --tv-toolbar-explicit-hover-margin: 0;
    display: flex;
    flex-grow: 0;
    height: 18px;
    justify-content: center;
    padding: 4px;
    width: 18px
}

.link-RT9d9ewu {
    align-items: center;
    display: flex;
    overflow: hidden
}

.text-RT9d9ewu {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    font-style: normal;
    --ui-lib-typography-font-size: 13px;
    font-size: var(--ui-lib-typography-font-size);
    font-weight: 400;
    --ui-lib-typography-line-height: 18px;
    line-height: var(--ui-lib-typography-line-height);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.detailsLinkIcon-RT9d9ewu {
    align-self: flex-start;
    margin-bottom: 0
}

.item-RT9d9ewu,.itemWithOutHover-RT9d9ewu {
    max-width: 270px;
    overflow: hidden
}

.item-RT9d9ewu {
    cursor: pointer
}

.itemWithOutHover-RT9d9ewu {
    --tv-color-popup-element-text-hover: var(--color-popup-element-text);
    --tv-color-popup-element-background-hover: #0000
}

.label-RT9d9ewu {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    font-style: normal;
    --ui-lib-typography-font-size: 13px;
    font-size: var(--ui-lib-typography-font-size);
    font-weight: 400;
    --ui-lib-typography-line-height: 18px;
    display: inline-block;
    line-height: var(--ui-lib-typography-line-height);
    text-overflow: ellipsis
}

.icon-NF438hS9 {
    height: 18px;
    width: 18px
}

.button-tEDdrWiL {
    align-items: center;
    align-self: flex-start;
    color: var(--color-default-gray);
    display: flex;
    height: 22px;
    justify-content: center;
    width: 22px;
    --tv-toolbar-explicit-hover-margin: 0
}

.wrap-nCfkQHvq {
    align-items: center;
    display: flex;
    overflow: hidden
}

.logo-nCfkQHvq {
    margin-right: 2px;
    min-width: 18px
}

.menuCopyButton-hmIkHT5E {
    --tv-color-toolbar-button-background-hover: var(--color-button-hover-bg)
}

.icons-hmIkHT5E {
    align-items: center;
    display: flex;
    gap: 4px
}

.icon-hmIkHT5E {
    height: 18px;
    width: 18px
}

.logo-hmIkHT5E {
    margin-right: 6px;
    min-width: 18px
}

.description-hmIkHT5E {
    margin-right: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.label-hmIkHT5E {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden
}

.wrap-CBaA1bc6 {
    align-items: center;
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(122px,1fr));
    padding-top: 4px;
    row-gap: 12px
}

.item-kZBZhD6h {
    align-items: center;
    display: flex
}

.text-kZBZhD6h {
    margin-right: 2px;
    overflow: hidden;
    word-break: break-word
}

.descriptions-WhmxU2aS {
    color: var(--color-toolbar-interactive-element-text-normal);
    font-size: 13px;
    line-height: var(--business-description-row-height,19px);
    margin-top: 12px;
    -webkit-user-select: text;
    user-select: text
}

.descriptions-WhmxU2aS.collapsed-WhmxU2aS {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: var(--business-description-row-limit,5);
    -webkit-box-orient: vertical;
    line-height: var(--business-description-row-height,19px);
    max-height: calc(var(--business-description-row-height, 19px)*var(--business-description-row-limit, 5))
}

.button-WhmxU2aS {
    height: 21px;
    margin-top: 8px;
    width: 42px
}

.value-SOkO5RD4 {
    margin-left: 16px;
    overflow: hidden
}

.item-SOkO5RD4 {
    padding: 1px 0
}

.link-SOkO5RD4 {
    align-items: center;
    display: flex
}

.detailsLinkIcon-SOkO5RD4 {
    align-self: flex-start;
    margin-bottom: 0
}

.title-VMJeYA8q {
    font-feature-settings: "tnum" on,"lnum" on;
    --ui-lib-typography-line-height: 16px;
    --ui-lib-typography-font-size: 12px;
    font-size: var(--ui-lib-typography-font-size);
    font-style: normal;
    font-weight: 600
}

.itemContent-VMJeYA8q,.title-VMJeYA8q {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    line-height: var(--ui-lib-typography-line-height)
}

.itemContent-VMJeYA8q {
    font-feature-settings: "tnum" on,"lnum" on;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    --ui-lib-typography-font-size: 13px;
    font-size: var(--ui-lib-typography-font-size);
    font-weight: 400;
    --ui-lib-typography-line-height: 18px;
    line-height: 20px
}

.itemContent-VMJeYA8q.withIcon-VMJeYA8q {
    align-items: center;
    display: flex;
    height: 20px
}

.wrap-WUaUvizs {
    align-items: baseline;
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(122px,1fr));
    padding-top: 4px;
    row-gap: 12px
}

.value-bVKkSMCw {
    margin-left: 16px;
    overflow: hidden
}

.link-bVKkSMCw {
    align-items: center;
    color: var(--color-text-primary);
    display: flex;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap
}

.link-bVKkSMCw .iconArrow-bVKkSMCw {
    display: flex
}

@media (any-hover: hover) {
    .link-bVKkSMCw:hover {
        color:var(--color-link-hover)
    }
}

.linkItem-bVKkSMCw {
    align-items: flex-start;
    display: flex
}

.issuerLink-bVKkSMCw {
    display: flex
}

.detailsLinkIcon-bVKkSMCw {
    align-self: flex-start;
    margin-bottom: 0
}

.value-W1B7fskc {
    margin-left: 16px;
    overflow: hidden
}

.detailsLinkIcon-W1B7fskc {
    align-self: flex-start;
    margin-bottom: 0
}

.link-W1B7fskc {
    align-items: center;
    color: var(--color-text-primary);
    display: flex;
    margin-left: 5px;
    overflow: hidden;
    white-space: nowrap
}

.link-W1B7fskc .iconArrow-W1B7fskc {
    display: flex
}

@media (any-hover: hover) {
    .link-W1B7fskc:hover {
        color:var(--color-link-hover)
    }
}

.underlyingSymbolLink-W1B7fskc {
    display: flex
}

.wrap-QIcD2AD6 {
    align-items: baseline;
    column-gap: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(122px,1fr));
    padding-top: 4px;
    row-gap: 12px
}

.link-QIcD2AD6 {
    align-items: center;
    display: flex;
    overflow: hidden
}

.logo-QIcD2AD6 {
    flex-shrink: 0;
    margin-right: 2px
}

.copy-QIcD2AD6 {
    flex-shrink: 0
}

[data-theme=light] {
    --_0-M02k: var(--color-cold-gray-900);
    --_1-M02k: var(--color-deep-blue-500)
}

[data-theme=dark] {
    --_0-M02k: var(--color-cold-gray-200);
    --_1-M02k: var(--color-deep-blue-a100)
}

.block-bqTOeKJR {
    align-items: center;
    background-color: var(--color-overlay-accent-4-light);
    border-radius: 8px;
    cursor: default;
    display: flex;
    font-size: 12px;
    line-height: 18px;
    padding: 4px 6px
}

@media (any-hover: hover) {
    .block-bqTOeKJR:hover {
        background-color:var(--color-overlay-accent-4-normal)
    }
}

.content-bqTOeKJR {
    color: var(--_0-M02k);
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 16px;
    max-height: 32px
}

.date-bqTOeKJR {
    white-space: nowrap
}

.startIcon-bqTOeKJR {
    color: var(--_1-M02k);
    height: 18px;
    margin-right: 4px
}

.exclusive-bqTOeKJR {
    color: var(--_1-M02k);
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    --ui-lib-typography-line-height: 16px;
    line-height: var(--ui-lib-typography-line-height);
    --ui-lib-typography-font-size: 12px;
    font-size: var(--ui-lib-typography-font-size);
    font-style: normal;
    font-weight: 600
}

.title-bqTOeKJR {
    color: var(--color-brand)
}

.anonymous-bqTOeKJR {
    color: var(--color-default-gray)
}

.endIcon-bqTOeKJR {
    align-items: center;
    display: flex;
    margin-left: auto;
    padding-left: 6px
}

.container-XMQ_UqOZ {
    overflow: hidden
}

.change-XMQ_UqOZ,.price-XMQ_UqOZ {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    --ui-lib-typography-line-height: 18px;
    line-height: var(--ui-lib-typography-line-height);
    --ui-lib-typography-font-size: 13px;
    font-size: var(--ui-lib-typography-font-size);
    font-style: normal;
    font-weight: 600
}

.change-XMQ_UqOZ {
    margin-left: 8px
}

.speedometerWrap-XMQ_UqOZ {
    margin-bottom: 12px
}

.itemWrap-XMQ_UqOZ {
    direction: ltr;
    display: inline-flex
}

.icon-z8LBxf7d {
    height: 72px;
    width: 72px
}

.crown-z8LBxf7d {
    background-image: url(crown_dark.1dfc8f4a813bac56435a.svg);
    background-position: 50%;
    background-repeat: no-repeat
}

html.theme-dark .crown-z8LBxf7d {
    background-image: url(crown_light.0cf60d12967ceb29d909.svg)
}

.noDividendsText-kv5uTSGz {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    font-style: normal;
    --ui-lib-typography-font-size: 12px;
    font-size: var(--ui-lib-typography-font-size);
    font-weight: 400;
    --ui-lib-typography-line-height: 16px;
    line-height: var(--ui-lib-typography-line-height)
}

.stats-kv5uTSGz {
    margin-top: 20px
}

.stats-kv5uTSGz:first-child {
    margin-top: 0
}

.content-tpq9kVq0 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.content-yUYnOzKV {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.withHint-yUYnOzKV {
    position: relative
}

.hintPlaceholder-yUYnOzKV {
    height: 26px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.pieWrap-URwAxTjo {
    height: 120px;
    margin: 0 auto 12px;
    width: 120px
}

.chartTitle-URwAxTjo {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    font-style: normal;
    --ui-lib-typography-font-size: 16px;
    font-size: var(--ui-lib-typography-font-size);
    font-weight: 400;
    --ui-lib-typography-line-height: 24px;
    color: var(--color-container-fill-primary-neutral-heavy);
    line-height: var(--ui-lib-typography-line-height)
}

.legendItem-URwAxTjo {
    align-items: baseline;
    display: flex;
    flex-direction: row
}

.outstandingAmount-URwAxTjo,.paidAmount-URwAxTjo {
    margin-right: 8px
}

.outstandingAmount-URwAxTjo {
    background-color: var(--color-tan-orange-a200);
    --tv-pie-chart-arc-color: var(--color-tan-orange-a200)
}

.paidAmount-URwAxTjo {
    background-color: var(--color-tv-blue-300);
    --tv-pie-chart-arc-color: var(--color-tv-blue-300)
}

.legendText-URwAxTjo {
    flex: 1 1 auto
}

.legendData-URwAxTjo {
    text-align: right
}

.block-QeXh3xOf {
    background: linear-gradient(277deg,#fff0 70.02%,#d500f91a 100.21%),linear-gradient(263deg,#fff0 69.93%,#00bce51a),linear-gradient(79deg,#fff0 65.84%,#d500f91a),linear-gradient(101deg,#fff0 65.9%,#00bce51a 100.13%);
    border-radius: 8px;
    display: flex;
    padding: 4px 6px
}

@media (any-hover: hover) {
    .block-QeXh3xOf:hover {
        background:linear-gradient(277deg,#fff0 70.02%,#d500f933 100.21%),linear-gradient(263deg,#fff0 69.93%,#00bce533),linear-gradient(79deg,#fff0 65.84%,#d500f933),linear-gradient(101deg,#fff0 65.9%,#00bce533 100.13%)
    }
}

.leftSide-QeXh3xOf {
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    font-style: normal;
    --ui-lib-typography-font-size: 12px;
    font-size: var(--ui-lib-typography-font-size);
    font-weight: 400;
    --ui-lib-typography-line-height: 16px;
    line-height: var(--ui-lib-typography-line-height)
}

.sparkIcon-QeXh3xOf {
    align-items: center;
    color: var(--color-deep-blue-a200);
    display: flex;
    float: left;
    height: 16px;
    margin-right: 4px;
    width: 18px
}

.rightSide-QeXh3xOf {
    align-items: center;
    display: flex;
    min-height: 100%
}

.arrowIcon-QeXh3xOf {
    height: 18px
}

.chart-xOtuSrA3 {
    height: 170px;
    min-width: 0;
    width: 100%
}

.tooltipWrap-xOtuSrA3 {
    left: -50%;
    pointer-events: none;
    position: relative
}

.chart-auRbz8Pj {
    height: var(--strategy-chart-height,320px);
    position: relative;
    width: 100%
}

.inactive-auRbz8Pj {
    pointer-events: none
}

.container-CFXESfXo {
    --strategy-chart-height: 160px
}

.moreButton-CFXESfXo {
    margin-top: 12px
}

.value-loXATXMF {
    margin-left: 16px;
    overflow: hidden
}

.items-oWmb3YMW {
    display: flex;
    flex-direction: column
}

.tv-data-mode--realtime--for-details {
    visibility: hidden
}

.container-BSF4XTsE {
    height: 100%;
    overflow: auto
}

.container-BSF4XTsE::-webkit-scrollbar {
    height: 5px;
    width: 5px
}

.container-BSF4XTsE::-webkit-scrollbar-thumb {
    background-clip: content-box;
    background-color: var(--tv-color-scrollbar-thumb-background,var(--color-scroll-bg));
    border: 1px solid #0000;
    border-radius: 3px
}

.container-BSF4XTsE::-webkit-scrollbar-track {
    background-color: initial;
    border-radius: 3px
}

.container-BSF4XTsE::-webkit-scrollbar-corner {
    display: none
}

.opacity-BSF4XTsE {
    opacity: .3
}

.widgetWrapper-BSF4XTsE {
    margin-bottom: 12px;
    padding: 0 16px
}

.widgetWrapper-BSF4XTsE.large-BSF4XTsE {
    margin-bottom: 16px
}

.offsetDisabled-BSF4XTsE {
    margin-bottom: 0
}

.separator-BSF4XTsE {
    margin-top: 24px
}

.separator-BSF4XTsE+.separator-BSF4XTsE,.separator-BSF4XTsE:first-child {
    margin-top: 0
}

.separator-BSF4XTsE:last-child {
    margin-top: 40px
}

.hintPlaceholder-BSF4XTsE {
    position: relative;
    top: 4px
}

@media (max-width: 767px) {
    .hint-BSF4XTsE,.hintPlaceholder-BSF4XTsE {
        display:none
    }
}

.previewButtonsWrap-BSF4XTsE {
    align-items: center;
    display: flex
}

.previewButton-BSF4XTsE {
    flex-basis: 50%;
    flex-grow: 1
}

.previewButton-BSF4XTsE+.previewButton-BSF4XTsE {
    margin-left: 12px
}

.userSelectText-BSF4XTsE {
    -webkit-user-select: text;
    user-select: text
}

.moreAboutFundButton-BSF4XTsE {
    margin-top: 12px
}

.highlight-BSF4XTsE.growing-BSF4XTsE {
    color: var(--color-symbol-change-positive)
}

.highlight-BSF4XTsE.falling-BSF4XTsE {
    color: var(--color-symbol-change-negative)
}
