.linePlot-VGEprejK {
    height: calc(100% + var(--line-plot-pane-padding-top, 0) + var(--line-plot-pane-padding-bottom, 0));
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: calc(var(--line-plot-pane-padding-top, 0)*-1);
    width: 100%
}

.canvas-VGEprejK {
    display: block;
    height: 100%;
    width: 100%
}

.stableLegend-TmeV3sAe {
    --details-chart-series-legend-color: var(--color-content-primary-accent-light)
}

.negativeLegend-TmeV3sAe {
    --details-chart-series-legend-color: var(--color-ripe-red-400)
}

.positiveLegend-TmeV3sAe {
    --details-chart-series-legend-color: var(--color-minty-green-400)
}

.developingLegend-TmeV3sAe {
    --details-chart-series-legend-color: var(--color-tan-orange-500)
}

.wrap-QDUZupDV {
    --horizontal-scale-values-gap: 3px;
    --horizontal-scale-letter-spacing: 0;
    --details-chart-columns-gap: 0
}

.tooltipText-QDUZupDV {
    color: var(--color-content-text-promo-primary);
    font-family: -apple-system,BlinkMacSystemFont,Trebuchet MS,Roboto,Ubuntu,sans-serif;
    font-feature-settings: "tnum" on,"lnum" on;
    font-style: normal;
    --ui-lib-typography-font-size: 13px;
    font-size: var(--ui-lib-typography-font-size);
    font-weight: 400;
    --ui-lib-typography-line-height: 18px;
    line-height: var(--ui-lib-typography-line-height)
}

.tooltipDivider-QDUZupDV {
    border-bottom: 1px solid var(--color-border-primary-neutral-bold)
}

.verticalScaleItem-QDUZupDV {
    justify-content: flex-start
}
